<div class="wrapper">
    <h2>@Source.Name</h2>
    <p class="codes">@(Source.IATA == "\\N" ? "N/A" : Source.IATA)-@(Source.IACO)</p>
    <p class="location">@Source.City, @Source.Country</p>

    <p class="stat-label">Outgoing connections</p>
    <p class="stat">@Outgoing <span class="rank">#@OutgoingRank worldwide</span></p>

    <p class="stat-label">Incoming Connections</p>
    <p class="stat">@Incoming <span class="rank">#@IncomingRank worldwide</span></p>

    <p class="stat-label">Timezone</p>
    <span class="rank">@Source.TzTime</span>
</div>